g {
  .node {
    stroke: #fff;
    stroke-width: 1.5px;
  }
}

line.link {
    stroke: black; /*#bdbdbd;*/ /*#999;*/
    stroke-opacity: .7;
} 

line.link.neg {
    stroke: red;    
} 

.d3-tip {
    line-height: 1;
    color: black;
    font-family: Arial;
    text-align: center;
}

circle {
  &.input {
    
    fill: #fff;
    stroke: #000;

    &.filled {
      fill: #000;
    }
  }
  &.output {
    fill: #000;
    stroke: #000;
  }
  &.hidden {
    fill: #666;
    stroke: #000; 
  }

}